/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
/* Common styles */
@import url('./reset.css');
@import url('./base.css');
@import url('./container.css');
@import url('./animations.css');

/* Sections style */
@import url('./header.css');
@import url('./vite-promo.css');
@import url('./badges.css');
@import url('./back-link.css');
@import url('./footer.css');
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.gallery-item {
  flex: 0 1 calc(33.333% - 10px);
  cursor: pointer;
}

.gallery-image {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 4px;
  transition: transform 0.3s;
}

.gallery-image:hover {
  transform: scale(1.05);
}


.feedback-form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  border-radius: 8px;
  /*max-width: 400px;*/

  width: 408px;
  height: 296px;
  margin: 40px auto;
  padding: 24px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
}





.feedback-form label {
  display: flex;
  text-align: left;
  flex-direction: column;
  font-weight: 400;
  font-size: 16px;

  /* line-height: 24px; */
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

.feedback-form input,
.feedback-form textarea {
  margin-top: 6px;
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
  transition: border-color 0.2s ease, box-shadow 0.2s ease;
}

/* Hover state */
.feedback-form input:hover,
.feedback-form textarea:hover {
  border-color: #888;
}

/* Active/focus state */
.feedback-form input:focus,
.feedback-form textarea:focus {
  /*border-color: #007bff;*/
  box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.2);
  outline: none;
}

/* Placeholder стилізація */
.feedback-form input::placeholder,
.feedback-form textarea::placeholder {
  color: #aaa;
  font-style: italic;
}

/* Кнопка */
.feedback-form button {
  align-self: flex-start;
  padding: 10px 20px;
  font-size: 15px;
  font-weight: bold;
  color: #fff;
  background: #4e75ff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

/* Hover для кнопки */
.feedback-form button:hover {
  background: #6c8cff;
}